**/.azure
**/.dockerignore
**/.env*
**/.git
**/.gitignore
**/.gitattributes
**/.github
**/.idea
**/.vs
**/.vscode
**/*.*proj.user
**/azure.yaml
**/bin
**/docker-compose*
**/Dockerfile*
**/node_modules
**/obj
**/appSettings.*.json
**/LICENSE
**/README.md