{
    "extends": "react-app",
    "settings": {
        "react": {
            "version": "999.999.999"
        }
    },
    "rules": {
        "no-template-curly-in-string": "off",
        "react-hooks/exhaustive-deps": "off"
    }
}
