@import './_bootstrap';
@import './toastify';

body {
    font-size: 0.93rem;
}

h1 {
    font-size: 1.87rem;
}

h2 {
    font-size: 1.64rem;
}

h3,
h4 {
    font-size: 1.17rem;
}

.nav-link {
    font-size: 0.82rem;
}

.card {
    text-decoration: none;
}
